/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

global{
	modalTransparency: 0.1;
	modalTransparencyBlur: 2;
	modalTransparencyColor: #777777;
	modalTransparencyDuration: 0;
}

s|ActionBar
{
	chromeColor: #3fa9f5;
	color: #3fa9f5;
	titleAlign: center;
	fontSize: 20;
}

s|ActionBar #titleDisplay
{
	color: #ffffff;
	fontSize: 20;
}

s|TabbedViewNavigator #tabBar
{
	chromeColor: #888888;
	color: #ffffff;
	fontSize: 16;
	titleAlign: center
}

s|View{
	backgroundColor: #222222;
}

s|Label{
	color: #95887a;
}
s|Button
{
	
	fontSize: 16;
}

.bodyText 
{
	color:#dddddd;
	fontSize: 18;
}

.headerTextGrey
{
	color:#222222;
	fontSize: 24;
	fontWeight: bold;
}

.headerTextWhite
{
	color:#ffffff;
	fontSize: 22;
	fontWeight: bold;
}

.smallBlackText
{
	color: #222222;
	fontSize: 14;
	fontWeight: bold;
}

.smallWhiteText
{
	color: #ffffff;
	fontSize: 14;
	fontWeight: bold;
}

.smallOffWhiteText
{
	color: #eeeeee;
	fontSize: 14;
	fontWeight: bold;
}