/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

global{
	modalTransparency: 0.6;
	modalTransparencyBlur: 5;
	modalTransparencyColor: #000000;
	modalTransparencyDuration: 100;
}

s|ActionBar
{
	chromeColor: #3fa9f5;
	color: #3fa9f5;
	titleAlign: center;
	fontSize: 20;
}

s|ActionBar #titleDisplay
{
	color: #ffffff;
	fontSize: 20;
}

s|TabbedViewNavigator #tabBar
{
	chromeColor: #888888;
	color: #ffffff;
	fontSize: 16;
	titleAlign: center
}

s|View{
	backgroundColor: #555555;
}

s|Label{
	color: #95887a;
}
s|Button
{
	
	fontSize: 16;
}
